<tr class="vertical-middle">

    <td class="text-nowrap">
        {# Пользовательское меню #}
        {{ include(_self|replace({ "card.html.twig": "_usecase.html.twig" })) }}

    <td class="text-center">
        {{ item.call_sort }}


    <td class="">

        <div class="w-100 d-flex align-items-center gap-3">

            {# Обложка  #}
            {% set image_path = '/assets/'~version~'/img/blank.svg' %}

            {% if item.call_cover_ext is defined and item.call_cover_ext is not null %}
                {% set img_host =  item.call_cover_cdn == true  ? CDN_HOST : '' %}
                {% set img_dir = item.call_cover_name %}
                {% set img_file = (img_host is empty ? '/image.' : '/small.') ~ item.call_cover_ext %}
                {% set image_path = img_host ~ img_dir ~ img_file %}
            {% endif %}

            {% if is_granted(ROLE~'_EDIT') or is_granted('ROLE_ADMIN') %}
                <a href="{{ path('payment:admin.newedit.edit', { id: item.event }) }}" class="pe-3">
                    <div
                            class="rounded-3 bg-contain lazy p-1"
                            style="width: 50px; height: 50px;"
                            data-bg="{{ image_path }}">
                    </div>
                </a>
            {% else %}
                <div
                        class="rounded-3 bg-contain lazy p-1"
                        style="width: 50px; height: 50px;"
                        data-bg="{{ image_path }}">
                </div>
            {% endif %}
            <div class="ms-0">

                {% if is_granted(ROLE~'_EDIT') or is_granted('ROLE_ADMIN') %}
                    {# Название #}
                    <a href="{{ path('contacts-region:admin.newedit.edit', { id: item.call_id }) }}"
                       class="text-decoration-none"
                    >
                        {{ item.call_name }}
                    </a>
                {% else %}
                    {{ item.call_name }}
                {% endif %}


                {# Описание #}
                <div class="text-muted small">
                    {{ item.call_description }}
                </div>
            </div>
        </div>



    <td class="text-center">
        {% if item.call_active %}
            <svg xmlns="http://www.w3.org/2000/svg"
                 width="16"
                 height="16"
                 fill="currentColor"
                 class="text-success"
                 viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path>
            </svg>
        {% else %}
            <svg xmlns="http://www.w3.org/2000/svg"
                 width="16"
                 height="16"
                 fill="currentColor"
                 class="text-danger"
                 viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z"/>
            </svg>
        {% endif %}


    <td class="text-center">
        {% if item.call_pickup %}
            <svg xmlns="http://www.w3.org/2000/svg"
                 width="16"
                 height="16"
                 fill="currentColor"
                 class="text-success"
                 viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path>
            </svg>
        {% else %}
            ---
        {% endif %}


    <td class="text-center">
        {% if item.call_stock %}
            <svg xmlns="http://www.w3.org/2000/svg"
                 width="16"
                 height="16"
                 fill="currentColor"
                 class="text-success"
                 viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"></path>
            </svg>
        {% else %}

            ---

        {% endif %}





    <td class="">

        {{ item.region_name }}


        {# Описание #}
        <div class="text-muted small">
            {{ item.region_description }}
        </div>


